body{
    height : 2000px;
    background-color: beige;
  }
  #nav {
    transition: background-color 300ms linear ;
  }
  .navbar.scrolled {
    background-color: red !important;
  }

#nav{
   background-color:#003366 !important;
 }