body{
    height : 100%;
    background-color: beige;
  }
  #nav {
    transition: background-color 300ms linear ;
  }
  .navbar.scrolled {
    background-color: red !important;
  }

#nav{
   background-color:#003366 !important;
 }

 #nuit{
  float: left !important;
 }

 .row{
  background-color: #003366;
  border-radius: 25px;
  padding: 30px;
}
#meteoactu{
  color: #FFE4C4;
  font-size: 1.5rem;
}


